.weather-container {
 max-width: 600px;
 margin: 20px auto;
 padding: 20px;
 background:rgba(255, 255, 255, 0.2);
 backdrop-filter: blur(10px);
 -webkit-backdrop-filter: blur(10px);
 border-radius: 12px;
 box-shadow: 0 2px 4px rgba(25, 66, 156, 0.1);
 text-align: center;
 border: 1px solid rgba(255, 255, 255, 0.3);
 
 }
.weather-info{
    margin-top:20px;
    color:#fff;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}
body{
    background: url('https://github.com/gauravghai/weatherApp-Reactjs/blob/master/src/images/background.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;    
    -o-background-size: cover;
}